<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basics" data-toc-modified-id="Basics-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basics</a></span><ul class="toc-item"><li><span><a href="#Funktionen-als-Objekte" data-toc-modified-id="Funktionen-als-Objekte-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Funktionen als Objekte</a></span></li><li><span><a href="#Higher-Order-functions" data-toc-modified-id="Higher-Order-functions-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Higher Order functions</a></span><ul class="toc-item"><li><span><a href="#Map" data-toc-modified-id="Map-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Map</a></span></li><li><span><a href="#Ersatz-für-map:-List-Comprehension" data-toc-modified-id="Ersatz-für-map:-List-Comprehension-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Ersatz für map: List Comprehension</a></span></li><li><span><a href="#Filter" data-toc-modified-id="Filter-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Filter</a></span></li><li><span><a href="#Ersatz-für-filter:-List-Comprehension" data-toc-modified-id="Ersatz-für-filter:-List-Comprehension-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Ersatz für filter: List Comprehension</a></span></li><li><span><a href="#Reduce" data-toc-modified-id="Reduce-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Reduce</a></span></li><li><span><a href="#Ersatz-für-reduce:-build-in-reducing-functions" data-toc-modified-id="Ersatz-für-reduce:-build-in-reducing-functions-1.2.6"><span class="toc-item-num">1.2.6&nbsp;&nbsp;</span>Ersatz für reduce: build-in reducing functions</a></span></li><li><span><a href="#Arithmetische-Operatorena-als-Funktionen" data-toc-modified-id="Arithmetische-Operatorena-als-Funktionen-1.2.7"><span class="toc-item-num">1.2.7&nbsp;&nbsp;</span>Arithmetische Operatorena als Funktionen</a></span></li></ul></li><li><span><a href="#Mehrere-Argumente---Parital:-Freezing-arguments" data-toc-modified-id="Mehrere-Argumente---Parital:-Freezing-arguments-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Mehrere Argumente - Parital: Freezing arguments</a></span></li></ul></li><li><span><a href="#Pandas:-Basics-funktionale-Programmierung" data-toc-modified-id="Pandas:-Basics-funktionale-Programmierung-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Pandas: Basics funktionale Programmierung</a></span><ul class="toc-item"><li><span><a href="#Apply-reihen-/spaltenweise" data-toc-modified-id="Apply-reihen-/spaltenweise-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Apply reihen-/spaltenweise</a></span><ul class="toc-item"><li><span><a href="#Custom-functions" data-toc-modified-id="Custom-functions-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Custom functions</a></span></li><li><span><a href="#Series-zurück-geben-anstatt-Skalar" data-toc-modified-id="Series-zurück-geben-anstatt-Skalar-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Series zurück geben anstatt Skalar</a></span></li></ul></li><li><span><a href="#Elementwise:-Dataframe" data-toc-modified-id="Elementwise:-Dataframe-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Elementwise: Dataframe</a></span></li><li><span><a href="#Elementwise:-Series" data-toc-modified-id="Elementwise:-Series-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Elementwise: Series</a></span></li></ul></li><li><span><a href="#Pandas:-Group-by" data-toc-modified-id="Pandas:-Group-by-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Pandas: Group-by</a></span><ul class="toc-item"><li><span><a href="#Group-by" data-toc-modified-id="Group-by-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Group-by</a></span></li><li><span><a href="#Intropect-groups" data-toc-modified-id="Intropect-groups-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Intropect groups</a></span></li><li><span><a href="#Auswählen-und-manipulieren-von-Gruppen" data-toc-modified-id="Auswählen-und-manipulieren-von-Gruppen-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Auswählen und manipulieren von Gruppen</a></span><ul class="toc-item"><li><span><a href="#(sort-)-split-apply-combine" data-toc-modified-id="(sort-)-split-apply-combine-3.3.1"><span class="toc-item-num">3.3.1&nbsp;&nbsp;</span>(sort-)-split-apply-combine</a></span></li></ul></li></ul></li></ul></div>

# Basics

## Funktionen als Objekte

In [130]:
def fact(n):
    '''returns n!'''
    return 1 if n < 2 else n * factorial(n-1)
factorial(5)

print(fact.__doc__)
print(type(fact))

returns n!
<class 'function'>

## Higher Order functions

### Map

In [131]:
list(map(fact, range(6)))

[1, 1, 2, 6, 24, 120]

### Ersatz für map: List Comprehension

In [26]:
[fact(n) for n in range(6)]

[1, 1, 2, 6, 24, 120]

### Filter

In [27]:
list(map(fact, filter(lambda n: n % 2, range(6))))

[1, 6, 120]

### Ersatz für filter: List Comprehension

In [21]:
[fact(n) for n in range(6) if n % 2]

[1, 6, 120]

### Reduce

In [24]:
from functools import reduce
from operator import add 

reduce(add, range(100))

4950

### Ersatz für reduce: build-in reducing functions

In [132]:
sum(range(100))
# any, all

4950

### Arithmetische Operatoren als Funktionen

In [133]:
# eg. z.B. für Multiplikation von Zahlen für Fakultät ohne Rekursion
from functools import reduce
from operator import mul 

# mit anonymer Funktion
def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

# mit operator
def fact(n):
    return reduce(mul, range(1, n+1))

## Mehrere Argumente - Parital: Freezing arguments

In [134]:
from operator import mul
from functools import partial 

triple = partial(mul, 3)
print(triple(7))
print(list(map(triple, range(1, 10))))

21
[3, 6, 9, 12, 15, 18, 21, 24, 27]

# Pandas: Basics funktionale Programmierung

In [135]:
import pandas as pd
import numpy as np
mtcars = pd.read_csv('/home/jovyan/Documents/Data/mtcars.csv',index_col=0).select_dtypes(include='number')

## Apply reihen-/spaltenweise

In [136]:
# along the columns = row-wise
mtcars.apply(np.mean, axis=1).head()  # axis='columns'

name
Mazda RX4             45.331667
Mazda RX4 Wag         54.566250
Datsun 710            62.881667
Hornet 4 Drive        71.761250
Hornet Sportabout    103.359167
dtype: float64

In [139]:
# along the rows = column-wise
mtcars.apply(np.std, axis=0).head()   # axis='rows'
mtcars.apply(np.mean, axis=0).head()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
dtype: float64

### Custom functions

In [138]:
range_of_var = lambda x: x.max() - x.min()

mtcars.apply(range_of_var, axis=0).head()

mpg      23.50
cyl       4.00
disp    400.90
hp      283.00
drat      2.17
dtype: float64

### Series zurück geben anstatt Skalar

In [140]:
def range_of_var(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

mtcars.apply(range_of_var, axis=0)

      mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb  hp_cumsum
min  10.4    4   71.1   52  2.76  1.513  14.5   0   0     3     1         52
max  33.9    8  472.0  335  4.93  5.424  22.9   1   1     5     8       2929

## Elementwise: Dataframe

In [141]:
mtcars.applymap(np.sqrt).head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,hp_cumsum
name,,,,,,,,,,,,
Mazda RX4,4.582576,2.449490,12.649111,10.488088,1.974842,1.618641,4.057093,0.0,1.0,2.000000,2.000000,14.662878
Mazda RX4 Wag,4.582576,2.449490,12.649111,10.488088,1.974842,1.695582,4.125530,0.0,1.0,2.000000,2.000000,18.027756
Datsun 710,4.774935,2.000000,10.392305,9.643651,1.962142,1.523155,4.313931,1.0,1.0,2.000000,1.000000,22.248595
Hornet 4 Drive,4.626013,2.449490,16.062378,10.488088,1.754993,1.793042,4.409082,1.0,0.0,1.732051,1.000000,20.856654
Hornet Sportabout,4.324350,2.828427,18.973666,13.228757,1.774824,1.854724,4.125530,0.0,0.0,1.732051,1.414214,25.495098

## Elementwise: Series

In [142]:
mtcars.hp.map(np.sqrt).head()

name
Mazda RX4            10.488088
Mazda RX4 Wag        10.488088
Datsun 710            9.643651
Hornet 4 Drive       10.488088
Hornet Sportabout    13.228757
Name: hp, dtype: float64

# Pandas: Group-by

## Group-by

In [143]:
groupby = mtcars.groupby('am')

## Intropect groups

In [144]:
for name, group in groupby:
    print(name)
    print(group.head())

0
                    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
name
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
Valiant            18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
Duster 360         14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
Merc 240D          24.4    4  146.7   62  3.69  3.190  20.00   1   0     4

                   carb  hp_cumsum
name
Hornet 4 Drive        1        435
Hornet Sportabout     2        650
Valiant               1        105
Duster 360            4       2330
Merc 240D             2        114
1
                mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb  \
name
Mazda RX4      21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
Datsun 710     22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1
Fiat 128       32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
Honda Civic    30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2

               hp_cumsum
name
Mazda RX4            215
Mazda RX4 Wag        325
Datsun 710           495
Fiat 128             311
Honda Civic           52

## Auswählen und manipulieren von Gruppen

In [146]:
def top(df, n=3):
    return df.head()

def full(df):
    return df

mtcars.groupby('am').apply(top)

                       mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
am name
0  Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
   Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3
   Valiant            18.1    6  225.0  105  2.76  3.460  20.22   1   0     3
   Duster 360         14.3    8  360.0  245  3.21  3.570  15.84   0   0     3
   Merc 240D          24.4    4  146.7   62  3.69  3.190  20.00   1   0     4
1  Mazda RX4          21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
   Mazda RX4 Wag      21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
   Datsun 710         22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
   Fiat 128           32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
   Honda Civic        30.4    4   75.7   52  4.93  1.615  18.52   1   1     4

                      carb  hp_cumsum
am name
0  Hornet 4 Drive        1        435
   Hornet Sportabout     2        650
   Valiant               1        105
   Duster 360            4       2330
   Merc 240D             2        114
1  Mazda RX4             4        215
   Mazda RX4 Wag         4        325
   Datsun 710            1        495
   Fiat 128              1        311
   Honda Civic           2         52

### (sort-)-split-apply-combine

In [149]:
def cum_sum(df, col):    
    df['cs'] = df[col].cumsum()
    return df

#mtcars.groupby('am').apply(top)
(mtcars
 .sort_values(['am','hp'])
 .groupby('am')
 .apply(cum_sum,'hp'))

i = mtcars.index

In [150]:
i.str.split(expand=True)

MultiIndex(levels=[['AMC', 'Cadillac', 'Camaro', 'Chrysler', 'Datsun', 'Dodge', 'Duster', 'Ferrari', 'Fiat', 'Ford', 'Honda', 'Hornet', 'Lincoln', 'Lotus', 'Maserati', 'Mazda', 'Merc', 'Pontiac', 'Porsche', 'Toyota', 'Valiant', 'Volvo'], ['128', '142E', '230', '240D', '280', '280C', '360', '4', '450SE', '450SL', '450SLC', '710', '914-2', 'Bora', 'Challenger', 'Civic', 'Continental', 'Corolla', 'Corona', 'Dino', 'Europa', 'Firebird', 'Fleetwood', 'Imperial', 'Javelin', 'Pantera', 'RX4', 'Sportabout', 'X1-9', 'Z28'], ['Drive', 'L', 'Wag']],
           codes=[[15, 15, 4, 11, 11, 20, 6, 16, 16, 16, 16, 16, 16, 16, 1, 12, 3, 8, 10, 19, 19, 5, 0, 2, 17, 8, 18, 13, 9, 7, 14, 21], [26, 26, 11, 7, 27, -1, 6, 3, 2, 4, 5, 8, 9, 10, 22, 16, 23, 0, 15, 17, 18, 14, 24, 29, 21, 28, 12, 20, 25, 19, 13, 1], [-1, 2, -1, 0, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, 1, -1, -1, -1]])